{% extends 'company/comp-base.html' %}
{% block content %}

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        				<div class="container">
 <section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Candidates list</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">

            <!-- [ stiped-table ] start -->
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Job Applied</th>
                                        <th>Candidate name</th>
                                        <th>Qualifications</th>
                                        <th>Work experience</th>
                                        <th>View details</th>
                                        <th>Approve</th>
                                        <th>Reject</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for com in company %}
                                    <tr>
                                        <td>{{ com.job.jtitle }}</td>
                                        <td>{{ com.cand.user.first_name }}</td>
                                        <td>{{ com.cand.qual }}</td>
                                        <td>{{ com.cand.workexp }}</td>
                                        <td><a href="viewdetails?id={{ com.cand.user.id}}" class=" btn-sm btn-success">Details</a></td>
									    <td><a href="accept?id={{ com.id}}" class=" btn-sm btn-warning">Accept</a></td>
                                        <td><a href="reject?id={{ com.id}}" class=" btn-sm btn-danger">Reject</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div></div></div></section></div></div></section>

{% endblock %}