{% extends 'candidate/cand-base.html' %}
{% block content %}

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        				<div class="container">
 <section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Applied jobs</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">

            <!-- [ stiped-table ] start -->
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Jobs Applied</th>
                                        <th>Company name</th>
                                        <th>status</th>
                                        <th>message</th>
                                        <th>Job details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for com in candidate %}
                                    <tr>
                                        <td>{{ com.job.jtitle }}</td>
                                        <td>{{ com.com.user.first_name }}</td>
                                        <td>{{ com.selected }}</td>
                                        <td>{{ com.message }}</td>
                                        <td><a href="details?id={{ com.job.id}}" class=" btn-sm btn-success">Details</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div></div></div></section></div></div></section>

{% endblock %}